/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Cindy Nguyen and this is the beginning of my CONTACT PAGE CSS for GrC 201 Winter 2021 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/tf-_photocopy_03.jpg)
    center center fixed no-repeat;
    background-size: cover;
	
	
}

.center {
    width: 800px;
	padding: 3%;
    margin: 100px auto;
 	background: rgba(251, 251, 250); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 2px solid black;
}

   
#logo {
    margin-top: 10px;
    margin-bottom: 5em;
    width: 200px;
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
    font-family: ivypresto-display,serif;
    font-weight: 100;
    font-style: italic;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #000000;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
   font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: italic;
	font-size: 1.5em;
    letter-spacing: .5px;
    line-height: 1.4;
    color: #000000;
    padding: 0px 0px;
    margin: 0px auto 5px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */	
    font-family: acumin-pro,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
	font-size: .9em;
    line-height: 1.6;
    color: grey;
    margin: 0px auto 5px auto;
}
    
/*Navigation elements, strikethrough hover-effect by Artyom on codepen.io */
nav {
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1em;
    width: 400px;
    margin: 0 auto;
    border: solid black;
    border-width: .1em 0;
    text-align: center;
    margin-top: 6em;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
}

a:hover {
    color: darkgray;
}

.thx{
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}

nav a{
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1em;
    color:#16151b;
    margin:0 15px;
    font-size:16px;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    padding: 10px;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: black;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

